# Created by .ignore support plugin (hsz.mobi)
/word2vec/
/result/
/img/
/baiduyun/
/.accelerate/
/.idea/
/.ipynb_checkpoints/
/tete.txt
/test.txt
/tet.txt
/tetete.txt
/CNN_embedding.npy
/data.zip
/Untitled.ipynb
/word2vec.ipynb
/weights.npy
/untitled
/word2vec_from_weixin.7z

/zh_simplified_train.npy
/zh_simplified_val.npy
/zh_simplified_test.npy

/zh_simplified_word2vec_test_data.npy
/zh_simplified_word2vec_val_data.npy
/zh_simplified_word2vec_train_label.npy
/zh_simplified_word2vec_val_label.npy
/zh_simplified_word2vec_train_data.npy
/zh_simplified_word2vec_test_label.npy
/zh_simplified_train.txt
/zh_simplified_test.txt
/zh_simplified_val.txt

